<div class="password-reset-container">
    <h1>Reset Your Password</h1>
    <form [formGroup]="reset">
        <input type="email" name="email" formControlName="email" placeholder="Enter your email">
        <div *ngIf="reset.controls?.['email']?.touched" [ngStyle]="{'color':'red','font-size':'smaller'}">
            <span *ngIf="reset.controls?.['email']?.errors?.['required']">Email is Required</span>
            <span *ngIf="reset.controls?.['email']?.errors?.['email']">Please type proper email.</span>
        </div>
       
        <!-- otp generator -->
        <div class="otp-generator">
            <input type="text" placeholder="Enter Your Number" required #phone>
            
            <ng-container *ngIf="btnClicked;else loader">
                <button (click)="GenerateOtp(phone.value)" class="gnt-btn">Generate</button>
            </ng-container>

            <!-- loader for button -->
            <ng-template #loader> 
                <button mdbBtn type="button" class="gnt-btn"  >
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    wait
                </button>
            </ng-template>

            <!-- loader ends here... -->

            <input type="text" placeholder="Enter Your OTP" #otp>

            <button (click)="GenerateOtp(phone.value)" [disabled]="this.activeresetbutton" class="reset-btn">Resend</button>

            <ng-container *ngIf="displayTimer" >
                <countdown class="timer" [config]="{ leftTime: 30 }"></countdown>
            </ng-container>


            <button (click)="VerifyOtp(otp.value)" class="verify-btn">Verify OTP</button>
        </div>
        <!-- otp generation end here -->

        <input class="submit-btn" 
        type="submit" 
        value="Send Email" 
        (click)="submit(reset.value)" 
        [disabled]="flag"
        [ngStyle]=" flag? {'background-color': 'none'} : {'background-color':'rgb(34, 145, 34)','color':'black'}"
        >
    </form>
</div>